*{
    margin:auto;
    padding:auto;
}



body{
    background-color:rgb(41, 37, 83);
}



.checker_wrapper{
    padding-top:100px;
    width: 900px;
    height: 900px;
}



.red{
    width: 100px;
    height: 100px;
    background-color:rgb(177, 98, 98);
    display:inline-block;
    margin:-1px;
}



.black{
    width: 100px;
    height: 100px;
    background-color:rgb(97, 93, 93);
    display:inline-block;
    margin:-1px;
}



.blck{
    width: 100px;
    height: 100px;
    background-color:rgb(97, 93, 93);
    display:inline-block;
    margin:-1px;
}



.rd{
    width: 100px;
    height: 100px;
    background-color:rgb(177, 98, 98);
    display:inline-block;
    margin:-1px;
}