<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-color: rgb(158, 93, 8);">
    <h1 style="background-color: rgb(88, 119, 88);display:inline-block;border-radius:8px;margin-left:25px;width:444px;padding-left:50px;">Review Account Details</h1>
    <p>Name: {{ name_on_template }}</p>
    <p>Email: {{ email_on_template }}</p>
    <p>Password: {{ password_on_template }}</p>
    <p>Confirm Password: {{ confirm_password_on_template }}</p>
    <p>Upload a file: {{ file_on_template }}</p>
    <p>Select: {{ date_on_template }}</p>
</body>
</html>