<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Fruit Store!</title>
</head>
<body style="height:970px;background:linear-gradient(to top, rgb(52, 52, 88), rgb(59, 88, 59), rgb(95, 95, 52))">
    <div style="width:950px;height:333px;padding-left:55px;">
        <h2 style="background:linear-gradient(to top, rgb(95,95,52),rgb(59,88,59),rgb(52,52,88));height:33px;width:360px;border-radius:5px;text-align:center;">Dojo Fruit Store! We sell fresh!</h2>
        <h4 style="text-decoration-line:underline;margin: 40px 100px 0px 12px;">Check out our fruit selection below!</h4>
        <div style="width:950px;">
            <img src="{{ url_for('static', filename='strawberry.png') }}" alt="strawberry" style="width:200px;height:200px;margin:10px;border:1px dotted rgb(179, 123, 39);display:inline-block;">
            <img src="{{ url_for('static', filename='raspberry.png') }}" alt="raspberry" style="width:200px;height:200px;margin:10px;border:1px dotted rgb(179, 123, 39);display:inline-block;">
            <img src="{{ url_for('static', filename='apple.png') }}" alt="apple" style="width:200px;height:200px;margin:10px;border:1px dotted rgb(179, 123, 39);display:inline-block;">
            <img src="{{ url_for('static', filename='blackberry.png') }}" alt="blackberry" style="width:200px;height:200px;margin:10px;border:1px dotted rgb(179, 123, 39);display:inline-block;">
        </div>
    </div>
</body>
</html>