<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restful TV Shows</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'RTV_app/css/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <h1>TV Show 2</h1>
        <p>Title: <span>insert here</span></p>
        <p>Network: <span>insert here</span></p>
        <p>Release Date: <span>insert here</span></p>
        <p>Description: <span>insert here</span></p>
        <p>Last Updated: <span>insert here</span></p>
        <p><a href="insert here" class="b1">Edit</a><a href="insert here" class="b2">Delete</a></p>
    </div>
</body>
</html>