<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authors, Books.</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'books_authors_app/css/style.css' %}">
</head>
<body>
    <div class="formwrapper">
        <h1>Add a Book</h1>
        <form action="/" method="POST">
            {% csrf_token %}
            Title: <input type="input" name="Title" class="f">
            Description: <input type="input" name="Description" class="l">
            <input type="submit" name="addauthor" value="Add" class="add">
        </form>
    </div>
    <table class="tablewrapper">
        <tr class="tablerow">
            <th class="table1">ID</th>
            <th class="table2">Name</th>
            <th class="table3">Action</th>
        </tr>
        {% for book in book_list %}
        <tr class="tablerow">
            <td class="table1">{{book.id}}</td>
            <td class="table2">{{book.title}}</td>
            <td class="table3"><a href="/books/{{book.id}}">View</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>